*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    border: 8px;
    display: flex;
    background-image: url('bg-5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    z-index: 100;
    flex-direction: column;
}
#header {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: transparent;
    justify-content: flex-start;
    flex-direction: column;
}
.container {
    width: 100%;
    height: 15vh;
    background-color: #B7B89F;
    opacity: .8;
    position: fixed;
}
a   {
    text-decoration: none;
    color: inherit;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    list-style: none;
    padding: 20px;
    margin-top: 30px;
    margin-left: 20px;
}
nav .logo {
    padding: 25px;
    font-size: 30px;
    font-weight: 500;
    color: #1A3D64;
    cursor: pointer;
    transition: 1s ease;
    margin-top: 20px;
    margin-left: 20px;
}
nav .logo:hover {
    transform:  scale(1.2);
    transform: rotatey(360deg)

}
nav li {
    color: #161616;
    font-size: 40px;
    font-weight: 500;
}
nav li:active,
nav li:hover {
    color: #1A3D64;
    border: 3px;
    padding: 3px;
    border-radius: 15px;
    border-style: outset;
    transform: scale(1.1);
}
.home-content {
    margin: 20px;
    margin-top: 300px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.home-content .profile-image {
    border-radius: 50%;
}
.profile-image img {
    position: relative;
    width: 20vw;
    border-radius: 50%;
    border-color: #161616;
    box-shadow: 0 0 25px solid #628141;
}
.home-content h1{
    padding: 5px;
    margin-left: 20px;
    font-size: 70px;
    font-weight: 800;
    line-height: 1.3;
    border: 10px #161616 solid;
    border-radius: 15px;
    background-color: #B7B89F;
    width: 75%;
    border-style: outset;
    margin-bottom: 5px;
    color: #628141;
    border-style: outset;
}
span{
    color: #8CE4FF;
}
.home-content h2{
    padding: 20px;
    margin-left: 20px;
    font-size: 50px;
    font-weight: 600;
    line-height: 1.3;
    width: 50%;
    margin-bottom: 5px;
    border: 10px #161616 solid;
    border-radius: 15px;
    border-style: outset;
    background-color: #B7B89F;
}
.home-content p {
    padding: 5px;
    font-size: 30px;
    font-weight: 500;
    margin-left: 20px;
    width: 75%;
    border: 10px #161616 solid;
    border-radius: 15px;
    background-color: #B7B89F;
    color: #628141;
    border-style: outset;
    margin-bottom: 5px;
}
.text {
    font-size: 34px;
    font-weight: 600;
    width: 500px;
}
.text span {
    position: relative;
}
.text span::before {
    content: "BSCS-II: ";
    color: #628141;
    animation: words 20s infinite;
}
.text span::after {
    content: "";
    background-color: transparent;
    position: absolute;
    width: 700px;
    height: 100%;
    border-left: 3px transparent;
    right: -8;
    animation: cursor 10s infinite;
}

.home-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border: 0.2rem solid #161616;
    color: #161616;
    font-size: 40px;
    border-radius: 50%;
    transition: 0.5s ease;
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.home-icon a:hover{
    color: #628141;
    background: #B7B89F;
    transform: scale(1.3);
}
.button-box a{
    display: inline-block;
    padding: 10px;
    margin-left: 20px;
    background-color: transparent;
    color: #628141;
    border-radius: 4rem;
    font-size: 30px;
    color: #161616;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 5px solid #161616;
    transition: .5 ease;
    cursor: pointer;
}
.button-box a:hover{
    color: #628141;
    background: #B7B89F;
    transform: scale(1.3);
}
.menu-btn {
    position: absolute;
    right: 20px;
    top: 25px;
    padding: 10px 14px;
    border: 3px solid #161616;
    background: #B7B89F;
    border-radius: 8px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}

.menu-btn:hover {
    transform: scale(1.2);
    background: #628141;
    color: white;
}
@keyframes cursor {
    0%, 20% {
        content: "A.I Engineer";
    }
    21%, 40% {
        content: "Software Engineer";
    }
    41%, 60% {
        content: "Frontend Developer";
    }
    61%, 80% {
        content: "Backend Developer";
    }
    81%, 100% {
        content: "Cybersecurity Analyst";
    }
}
#about {
    display: flex;
    margin-top: 120px;
    gap: 16px;
    border-radius: 15px;
}
.about-content {
    border: 3px #628141 solid;
    border-style: dotted;
    border-radius: 15px;
    width: 50%;
    height: 100%;
    background: #1A3D64;
    margin-left: 15px;
    padding-bottom: 20px;
    background-color: #628141;
}
.about-content .pfp img {
    position: relative;
    width: 20vw;
    border-radius: 50%;
    border-color: #161616;
    box-shadow: 0 0 25px solid #628141;
    margin-top: 20px;
    margin-left:  20px;
}
.about-content .context {
    border: 3px black solid;
    background: transparent;
    margin-left: 20px;
    margin-top: 20px;
    width: 80%;
    font-size: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    background: #B7B89F;
    padding: 20px;
    margin-right: 20px;
    border: 3px #161616 solid;
    border-style: outset;
    border-radius: 15px;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.content h1 {
    font-size: 50px;
    font-weight: 600;
    border: 3px;
    border-style: inset;
    padding: 5px;
    border-radius: 15px;
    background-color: #B7B89F;
    margin-bottom: 10px;
    color: #628141;
}
.content .profile-pic img {
    width: 20vw;
    border-radius: 50%;
    border-color: #161616;
    box-shadow: 0 0 25px solid #628141;
    margin-top: 20px;
    margin-left:  20px;
    justify-content: center;
    align-items: center;
}
.content p {
    font-weight: 600;
    border: 3px;
    border-style: inset;
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px 50px 30px 5px;
    padding:  9px;
    font-size: 20px;
}
.content .services-content img {
    border-radius: 15px;
    border-style: outset;
}
#services {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 16px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}
.text-01 h1 {
    font-weight: 600;
    border-radius: 16px;
    border: 3px;
    padding: 5px;
    margin-bottom: 5px;
    border-style: outset;
    font-size: 50px;
    background-color: #B7B89F;
    color: #628141;
}
.services-01 img {
    position: relative;
    width: 20vw;
    border-radius: 15px;
    border-color: #161616;
    box-shadow: 0 0 25px solid #628141;
    margin-top: 20px;
    margin-left:  20px;
}
.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #628141;
}
.inputs pre h2 {
    border: 3px;
    height: 100%;
    width: 100%;
    border: 3px;
    border-radius: 15px 50px 30px 5px;
    background: #B7B89F;
    border-style: outset;
    padding: 15px;
    padding-right: 6px;
    font-size: 25px;
}
.inputs p {
    font-size: 25px;
    width: 40%;
    height: 40%;
    font-weight: 600;
    border: 3px;
    border-radius: 15px 50px 30px 5px;
    background: #B7B89F;
    color: #628141;
    border-style: outset;
    padding: 15px;
}
#portfolio {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    gap: 16px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    color: #628141;
}
.port h1 {
    border: 3px;
    border-style: outset;
    font-size: 50px;
    font-weight: 500;
    border-radius: 15px;
    background-color: #B7B89F;
}
.pc-1 {
    width: 800px;
    overflow: hidden;
    border: 20px solid #1A3D64;
    border-radius: 15px;
    box-shadow: 10px 25px 30px rgba(30,30,200,0.3);
    padding-left: 10px;
    padding-right: 15px;
    align-items: center;
    justify-content: center;
}
.certificate {
    width: calc(100% + 4%);
    display: flex;
    animation: slide 16s infinite;
    gap: 13px;
}
.projects {
    border: 3px;
    border-style: outset;
    font-size: 35px;
    font-weight: 500;
    background-color: #B7B89F;
    border-radius: 15px;
    margin-top: 40px;
}
.projects h1 {
    font-size: 50px;
    font-weight: 500;
}
.none h1 {
    border: 3px;
    border-style: outset;
    font-size: 35px;
    font-weight: 500;
    background-color: #B7B89F;
    border-radius: 15px;
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes slide {
     0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    35%{
        transform: translateX(-100%);
    }
    45%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    85%{
        transform: translateX(-100%);
    }
    90%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
#contacts {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
    gap: 16px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
    color: #628141;
}
.queries a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 0.2rem solid #161616;
    color: #161616;
    font-size: 70px;
    border-radius: 50%;
    transition: 0.5s ease;
    overflow: hidden;
    z-index: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}
.queries a:hover{
    color: #628141;
    background: #B7B89F;
    transform: scale(1.3);
}
.queries i {
    font-size: 60px;
}
.text-03 h1 {
    border: 3px;
    border-style: outset;
    font-size: 35px;
    font-weight: 500;
    background-color: #B7B89F;
    border-radius: 15px;
    padding: 10px;
}
@media (max-width: 768px) {

    .menu-btn {
        display: flex;
        cursor: pointer;
        z-index: 999;
    }
    nav ul {
        display: none;
        flex-direction: column;
        gap: 30px;
        position: absolute;
        top: 80px;
        right: 20px;
        background: #B7B89F;
        padding: 20px;
        border-radius: 10px;
        border: 3px solid #161616;
        width: 200px;
    }
    nav ul.active {
        display: flex;
    }

    nav li {
        font-size: 28px;
    }
    .home-content {
        flex-direction: column;
        padding: 10px;
    }

    .profile-image img {
        width: 50vw;
        z-index: -1;
    }

    .home-content h1 {
        font-size: 40px;
        width: 100%;
        margin-left: 0;
    }

    .home-content h2 {
        font-size: 30px;
        width: 100%;
        margin-left: 0;
    }

    .home-content p {
        font-size: 22px;
        width: 100%;
        margin-left: 0;
    }

    #about {
        flex-direction: column;
        align-items: center;
    }

    .about-content {
        width: 90%;
        margin: 10px 0;
        margin-top: 450px;
    }
    .content {
        width: 90%;
        margin: 10px 0;
    }
    .about-content .pfp img,
    .content .profile-pic img {
        width: 50vw;
    }

    .pc-1 {
        width: 100%;
        padding: 10px;
    }

    .certificate img {
        width: 80vw;
    }
    .queries a {
        width: 70px;
        height: 70px;
        font-size: 40px;
    }
}
